<ion-content [fullscreen]="true">

  <!--
  <swiper-container class="swiper"
  (swiperslidechange)="swiperSlideChanged($event)"
    [loop]="true" speed="500"
    slides-per-view="2"
    [pagination]="true">

    <swiper-slide style="background-color: blue">Slide 1</swiper-slide>
    <swiper-slide style="background-color: green">Slide 2</swiper-slide>
    <swiper-slide style="background-color: gray">Slide 3</swiper-slide>
    <swiper-slide style="background-color: yellow">Slide 4</swiper-slide>
    <swiper-slide style="background-color: orangered">Slide 5</swiper-slide>
    <swiper-slide style="background-color: pink">Slide 6</swiper-slide>
  </swiper-container> -->

  <!-- <swiper-container class="swiper" scrollbar="true"
  (swiperslidechange)="swiperSlideChanged($event)"
    [loop]="true"
    [pagination]="true">

    <swiper-slide style="background-color: blue">Slide 1</swiper-slide>
    <swiper-slide style="background-color: green">Slide 2</swiper-slide>
    <swiper-slide style="background-color: gray">Slide 3</swiper-slide>
    <swiper-slide style="background-color: yellow">Slide 4</swiper-slide>
    <swiper-slide style="background-color: orangered">Slide 5</swiper-slide>
    <swiper-slide style="background-color: pink">Slide 6</swiper-slide>
  </swiper-container> -->
  <!--
  <swiper-container class="swiper"
  slides-per-view="3"
  (swiperslidechange)="swiperSlideChanged($event)"
    [loop]="true"
    [pagination]="true">

    <swiper-slide style="background-color: blue">Slide 1</swiper-slide>
    <swiper-slide style="background-color: green">Slide 2</swiper-slide>
    <swiper-slide style="background-color: gray">Slide 3</swiper-slide>
    <swiper-slide style="background-color: yellow">Slide 4</swiper-slide>
    <swiper-slide style="background-color: orangered">Slide 5</swiper-slide>
    <swiper-slide style="background-color: pink">Slide 6</swiper-slide>
  </swiper-container> -->


  <swiper-container class="slide-full"  [loop]="true">
    @for (slide of slides; track $index) {
    <swiper-slide>
      <ion-card >
        <img [src]="slide.img" class="slide-image" />
        <ion-card-header>
          <ion-card-subtitle>{{slide.titulo}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{slide.desc}}
        </ion-card-content>
      </ion-card>

    </swiper-slide>
    }
    <swiper-slide>
      <ion-card>
        <ion-button (click)="onClick()">
          Comenzar
        </ion-button>
      </ion-card>
    </swiper-slide>

  </swiper-container>

</ion-content>
