<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title color="primary">Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-button routerLink="/alert" routerLinkActive="router-link-active">To alert</ion-button>
  <ion-button routerLink="/action-sheet">To action sheet</ion-button> -->
  <ion-list>
    @for (c of componentes; track c.name) {

    <ion-item [routerLink]="c.redirectTo" detail>
      <ion-icon [name]="c.icon" slot="start" color="primary">
      </ion-icon>
      {{c.name}}
    </ion-item>
    }
  </ion-list>


</ion-content>
