<ion-header class="ion-no-border" >
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for (c of componentes | async; track c.name) {

    <ion-item [routerLink]="c.redirectTo" detail>
      <ion-icon [name]="c.icon" slot="start" color="primary">
      </ion-icon>
      {{c.name}}
    </ion-item>
    }
  </ion-list>


</ion-content>
