<component-header title="Cards"></component-header>

<ion-content [fullscreen]="true">

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label >Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum saepe, ut architecto commodi natus error, fuga accusantium quo voluptatem animi velit facere earum eum incidunt magnam tempore. Ab, tenetur voluptatibus.
    </ion-card-content>
  </ion-card>

  <ion-card color="tertiary" >
      <ion-img  src="https://pm1.aminoapps.com/6537/5e0bbd72cde0c28b9ab92f2544a3a80bded28ba3_hq.jpg"></ion-img>
    <ion-card-content >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quam nobis doloremque. Aliquam recusandae velit amet aspernatur quam ex eaque? Dignissimos a perferendis pariatur. Sed.
    </ion-card-content>
  </ion-card>


</ion-content>
